.playlist {
  position: relative;
  background-color: #333;
  height: 100%;

  &__list {
    border-left: 1px solid #444;
    padding: 10px 0;
    width: 430px;
    height: 100%;
    list-style: none;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;

    &:hover {
      background-color: #444;
    }

    &.active-song {
      background-color: #555;
    }

    &-thumb {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        image-rendering: crisp-edges;
      }
    }

    &-details {
      width: 260px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      z-index: 99;
    }

    &-singer {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      color: #aaa;
      z-index: 99;
    }

    &-duration {
      font-size: 14px;
      color: #aaa;
      margin-left: auto;
      z-index: 99;
      font-weight: 600;
    }

  }


}

.thumb-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
  user-select: none;
  border-radius: 50%;
  overflow: hidden;
  z-index: 99;
}

.overlay-wave {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}