@media only screen and (max-width: 1024px) {
  body {
    padding: 3px 0 !important;
  }

  .player {
    border-radius: 0;
  }

  .favorite-btn,
  .playlist-btn {
    display: flex;
  }

  .btn {
    width: 35px;
    height: 35px;
  }

  .play-btn {
    width: 53px;
    height: 53px;
  }

  .playlist {
    position: absolute;
    top: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    height: calc(100% - 131px);
    transform: translateY(100%);
    transition: all 0.6s ease-in-out;
  }

  .show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.6s ease-in-out;
  }

  .playlist__item:hover {
    background-color: none;
  }
}

@media only screen and (max-width: 600px) {

  body {
    padding: 3px 0 !important;
  }

  .player-content {
    width: 350px;
  }

  .seek-bar {
    max-width: 230px;
  }

  .slider-thumb {
    opacity: 1;
  }

  .actions {
    padding: 0 10px;
  }

  .controls {
    padding: 20px 0 10px 0;
  }

  .playlist {
    height: calc(100% - 121px);
  }

  .playlist__item {
    padding: 10px;
  }

  .thumb-container {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .playlist__list {
    width: 350px;
  }

  .playlist__item-details {
    gap: 4px;
  }

  .playlist__item-duration {
    font-size: 12px;
  }

  .playlist__item-name {
    font-size: 14px;
  }

  .playlist__item-singer {
    font-size: 12px;
  }

  .wave-container {
    .bar {
      width: 2px;
      height: 10px;
    }
  }
}