.custom-scrollbar {
  position: absolute;
  right: 5px;
  top: 0;
  width: 12px;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s linear;
  user-select: none;
}

.scroll-thumb {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s linear;
}