.search {
  width: 90%;
  position: relative;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 6px 10px;
  background-color: #1f1f1f;
  box-shadow: 0px 0px 6px 0px rgb(255 255 255 / 12%);
}

.search-bar {
  width: 100%;
  height: 100%;
}

.search-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #b5b5b5;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.search-input::placeholder {
  color: #b5b5b5;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  color: #b5b5b5;
}

.search-results-container {
  width: 100%;
  position: absolute;
  z-index: 9;
}

.search-results {
  position: absolute;
  background-color: #333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-height: 350px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.search .result-item {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #444;
  cursor: pointer;

  &:hover {
    background-color: #444;
  }
}

.result-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.result-name {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.result-singer {
  font-size: 12px;
  color: #aaa;
}

.result-thumb {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}