.current-time,
.total-time {
  font-size: 14px;
  font-weight: 800;
  color: #9d9d9d;
}

.seek-bar {
  position: relative;
  width: 300px;
  height: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;

  &:active {
    .slider-fill {
      background-color: #01b74d;
    }
  }

  &:hover {
    height: 8px;

    .slider-thumb {
      opacity: 1;
    }
  }

  &-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider {

    &-bar {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #444;
      border-radius: 10px;
      overflow: hidden;
    }

    &-fill {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      user-select: none;
    }

    &-thumb {
      width: 16px;
      height: 16px;
      opacity: 0;
      border-radius: 50%;
      background-color: #ffffff;
      position: absolute;
      transform: translateX(-50%);
      cursor: pointer;
      user-select: none;
      transition: opacity 0.25s linear;
    }
  }
}