@import "variable";
@import "reset";
@import "mixin";
@import "seekbar";
@import "musicplayer";
@import "playlist";
@import "scrollbar";
@import "spinner";
@import "wave-effect";


body {
  font-family: "Mulish", sans-serif;
  background-color: #141414;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}